mat-card {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

mat-form-field {
  width: 100%;
}

section {
  vertical-align: middle;
  height: 100%;
}